
Fly thru Ring~.qtz

*.xccheckout

*.xcscheme

Fly thru Ring.xcodeproj/xcuserdata/randym.xcuserdatad/xcschemes/QCFullscreen.xcscheme

Fly thru Ring.xcodeproj/project.xcworkspace/xcuserdata/randym.xcuserdatad/UserInterfaceState.xcuserstate

Fly thru Ring.xcodeproj/project.xcworkspace/xcuserdata/randym.xcuserdatad/UserInterfaceState.xcuserstate
